.Day_off{
			color:red;
			font-weight:bold;
		}
		.calendar th{
			background-color:#f2f2f2;
			font-weight:bold;
		}
		
		.calendar th, 
		.calendar td{
			border:1px solid #ccc;
			width:14.2%;
			height:60px;
			text-align:center;
			vertical-align:middle;
		}
		.calendar{
			border-collapse: collapse;
			margin:0 auto;
			width: 400px;
		}
		h2{
			margin-bottom:10px;
		}
.holiDay{
			color:red;
			font-weight:bold;
			background-color:#ffecec;
		}

